body {
    font-family: "Helvetica Neue";
    position: absolute;
    top: 0;
    width: 90vw;
    height: 100vh;
    padding-left: 3vw;
    margin-left: 10vw;
    border-left: 1px dotted grey;
}
h1, h2 {
    font-weight: 300;
    width: 50vw;
    padding-bottom: .5%;
    border-bottom: 1px solid grey;
}
.date {
    color: grey;
    font-weight: 300;
    font-style: italic;
}
img .github {
    width: 16px;
}
a {
    text-decoration: none;
}